@model Zebra.Models.CommentModelsVM

@{
    ViewBag.Title = "Index";
}

<h2>Commentaires</h2>

<table class="table" style="border-top : 0">
    <thead>
        <tr>
        <th>
            @Html.DisplayNameFor(model => model.Comment.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment.ID_User)
        </th>
    </tr>
    </thead>

@if (Model.Comments.Count() != 0)
{
    foreach (var item in Model.Comments)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ID_User)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }
}

</table>

<div>
    <input type="button" class="btn btn-default" style="float:right" value="Commenter" onclick="location.href='@Url.Action("Create", "Comments", new { id = Model.Music} )'" />
</div>