@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Bonjour " + User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @style = "color:black" })
        </li>
        <li>@Html.ActionLink("Mes musiques", "MyMusics", "Musics",null, new { @style = "color:black" }) </li>

        <li>@Html.ActionLink("Mes achats", "Index", "Orders",null, new { @style = "color:black" })</li>

        <li>@Html.ActionLink("Mes albums", "MyAlbums", "Albums",null, new { @style = "color:black" }) </li>

        <li><a href="javascript:document.getElementById('logoutForm').submit()" style="color:black">Se déconnecter</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("S’inscrire", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Se connecter", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
