@using SpotifyAPI.Web.Models
@using Zebra.Models

@model MusicModels

@{
    ViewBag.Title = "MusicDetails";
}

<h2>Music</h2>

<div>
    <h4>Détails</h4>
    <hr />
    <p>
        Titre : 
        @Model.Title
    </p>

    <p>
        Artists : 
        @if (Model.ID_User != null)
        {
            foreach (var art in Model.ID_User)
            {
                @art.Name
            }
        }
        @Model.Created_by
    </p>

    <p>
        Album :
        @Model.ID_Album
    </p>

    <p>
        Genre : 
        @if (Model.Genre != null)
        {
            foreach (var gen in Model.Genre)
            {
                @gen
            }
        }
    </p>

    <p>
        Date de sortie :
        @Model.ReleaseDate
    </p>

    <p>
        Prix : 
        @Model.prix
    </p>

    <p>
        Populatité : 
        @Model.Note
    </p>

    <p>
        @Html.ActionLink("Acheter", "Create", "Orders", new { music = Model }, new AjaxOptions { HttpMethod = "POST" })
    </p>

    @{if (Model.Created_by != null)
        {
            <audio controls="controls" preload="auto">
                <source src="@Url.Action("Play", new { musicID = Model.numberMusic, path = "musique" })" type="audio/mp3" />
                Votre navigateur ne supporte pas la balise HTML5 audio
            </audio>
            <audio controls="controls" preload="auto">
                <source src="@Url.Action("Play", new { musicID = Model.numberMusic, path = "trailer" })" type="audio/mp3" />
                Votre navigateur ne supporte pas la balise HTML5 audio
            </audio>

            } }

    <p>
        @Html.ActionLink("Commentaires", "Index", "Comments", new { id = Model.ID }, null)
    </p>
</div>

