@using SpotifyAPI.Web.Models
@using Zebra.Models

@model Paging<SpotifyAPI.Web.Models.FullTrack>

@{
    ViewBag.Title = "SearchMusic";
}

<h2>Search</h2>


<table class="table">
    @foreach (var item in @ViewBag.Recherche)
    {
        <thead>
            <tr>
                <td>
                    @item.Title
                </td>
                <td>
                    @item.Created_by
                </td>
                <td>
                    @item.Note
                </td>
                <td>
                    @Html.ActionLink("Details", "MusicDetails", new { id = item.ID })
                </td>
            </tr>
        </thead>
    }
    
    @foreach (var item in Model.Items)
    {
        <thead>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @foreach (var art in item.Artists)
                    {
                        @art.Name
                        <p> </p>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Popularity)
                </td>
                <td>
                    @Html.ActionLink("Details", "MusicDetails", new { id = item.Id })
                </td>
            </tr>
        </thead>
    }
</table>
